@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.screen-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 400%;
    background-color: #fff;
}

#screen-01 {
    width: 100%;
    height: 100%;
}

@media (max-width: 640px) {
    #screen-01 {
        position: static;
    }
}

#screen-02 {
    width: 100%;
    min-height: 25%;
    background-color: #ededed;
}

#screen-03 {
    width: 100%;
    min-height: 25%;
    background-image: url(../images/honkong.webp);
    background-repeat: no-repeat;
}

#screen-04 {
    width: 100%;
    min-height: 25%;
    background-color: #000;
}

#screen-05 {
    width: 100%;
    min-height: 25%;
    background-color: #fff;
}

.menubar {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: #eee;
    z-index: 9999;
}

@media (max-width: 640px) {
    .menubar {
        height: 80px;
        position: absolute;
    }
}

.menubar ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 12%;
}

@media (max-width: 980px) {
    .menubar ul {
        margin-right: 5%;
    }
}

@media (max-width: 725px) {
    .menubar ul {
        margin-right: 3%;
    }
}

@media (max-width: 640px) {
    .menubar ul {
        display: none;
    }
}

.menubar ul li {
    list-style-type: none;
    float: left;
}

.menubar ul li a {
    display: block;
    line-height: 120px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 980px) {
    .menubar ul li a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 725px) {
    .menubar ul li a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.menubar ul li a:hover {
    background-color: #e8e8e8;
}

.logo {
    float: left;
    height: 80px;
    width: 144px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: 22px;
    margin-left: 10%;
}

@media (max-width: 980px) {
    .logo {
        margin-left: 5%;
    }
}

@media (max-width: 725px) {
    .logo {
        margin-left: 3%;
    }
}

@media (max-width: 640px) {
    .logo {
        width: 110px;
        height: 60px;
        margin-top: 10px;
        margin-left: 5%;
        float: none;
    }
}

.sloganbox {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    text-align: center;
    font-size: 32px;
    z-index: 9999;
}

@media (max-width: 980px) {
    .sloganbox {
        margin-top: 55%;
    }
}

@media (max-width: 640px) {
    .sloganbox {
        width: 90%;
        font-size: 24px;
        text-align: left;
        margin-left: 5%;
        margin-top: 35%;
    }
}

.slogan {
    padding: 10px;
    line-height: 70px;
    color: #fff;
    font-weight: 100;
    z-index: 9999;
}

@media (max-width: 640px) {
    .slogan {
        font-weight: 300;
        line-height: 60px;
    }
}

.slogan1 {
    padding: 10px;
    line-height: 70px;
    color: #fff;
    font-weight: 900;
    z-index: 9999;
}

@media (max-width: 640px) {
    .slogan1 {
        font-weight: 300;
        line-height: 60px;
    }
}

.padding-sc02 {
    padding-top: 160px;
}

@media (max-width: 640px) {
    .padding-sc02 {
        padding-top: 50px;
    }
}

.headingbox img {
    margin-bottom: 5%;
}

.padding-sc03 {
    padding-top: 160px;
}

@media (max-width: 640px) {
    .padding-sc03 {
        padding-top: 50px;
    }
}

.padding-sc04 {
    padding-top: 160px;
}

@media (max-width: 640px) {
    .padding-sc04 {
        padding-top: 50px;
    }
}

.padding-sc05 {
    padding-top: 160px;
}

@media (max-width: 640px) {
    .padding-sc05 {
        padding-top: 50px;
    }
}

.headingbox {
    width: 80%;
    margin: auto;
    text-align: center;
}

.linie {
    width: 120px;
    height: 10px;
    margin: auto;
    margin-top: 2%;
    background-image: url(../images/zigzag.svg);
    background-size: 100% 100%;
    background-repeat: repeat-x;
    z-index: 1000;
}

.linie-left {
    width: 10%;
    height: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #00c6b7;
    z-index: 1000;
}

.kreuze-4 {
    width: 56px;
    height: 15px;
    margin: auto;
    margin-top: 2%;
    background-image: url(../images/kreuz.png);
    background-repeat: repeat-x;
}

@media (max-width: 640px) {
    .kreuze-4 {
        padding-bottom: 50px;
    }
}

::selection {
    background-color: #000;
    color: #fff;
}

.heading {
    font-size: 26px;
    color: #222;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 0.1em;
}

.subheading {
    text-transform: uppercase;
    color: #222;
    font-size: 16px;
}

@media (max-width: 640px) {
    .subheading {
        font-size: 19px;
    }
}

.text {
    text-align: left;
    font-size: 13px;
    color: #222;
    margin-top: 10px;
    line-height: 1.4em;
}

@media (max-width: 640px) {
    .text {
        font-size: 16px;
    }
}

.text-kontakt {
    text-align: left;
    font-size: 13px;
    color: #222;
    line-height: 2em;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    border-left: 1px solid #00c6b7;
    padding-left: 10px;
}

.textbw {
    text-align: left;
    font-size: 13px;
    color: #fff;
    margin-top: 25px;
    line-height: 1.4em;
}

@media (max-width: 640px) {
    .textbw {
        font-size: 16px;
    }
}

.headingbw {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 0.025em;
}

.names {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 0.025em;
    text-align: left;
}

.headline {
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.025em;
}

.link {
    text-align: left;
    font-size: 13px;
    color: #fff;
    margin-top: 25px;
    line-height: 1.4em;
}

@media (max-width: 640px) {
    .link {
        font-size: 16px;
    }
}

.linkschw {
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
    padding-bottom: 25px;
    line-height: 1.4em;
}

@media (max-width: 640px) {
    .linkschw {
        font-size: 16px;
    }
}

.linkschw a {
    color: #000;
    text-decoration: none;
}

.headline {
    background-color: #000;
}

a:link {
    text-decoration: none;
}

.colbox-4 {
    width: 80%;
    margin: auto;
    padding-top: 6%;
}

.col-4 {
    float: left;
    width: 21%;
    margin-right: 5.3%;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 640px) {
    .col-4 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.col-4:nth-child(4),
.col-4:nth-child(9) {
    margin-right: 0;
}

.col-4 img {
    margin-bottom: 10px;
    text-align: center;
}

.colbox-2 {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 7%;
}

.col-2 {
    float: left;
    width: 38%;
    margin-right: 24%;
    padding-bottom: 10%;
}

@media (max-width: 640px) {
    .col-2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.col-2:last-child {
    margin-right: 0;
}

.col-2 img {
    width: 100%;
    margin-top: 3%;
    border-radius: 5px;
}

.col-1 {
    width: 40%;
    margin: auto;
    margin-top: 2%;
}

@media (max-width: 640px) {
    .col-1 {
        width: 80%;
    }
}

.col-1center {
    width: 40%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

form.kontakt {
    text-align: center;
    font-size: 18px;
    color: #9d9d9d;
    margin-top: 10px;
    line-height: 1.4em;
}

input {
    width: 99%;
    display: block;
    padding: 10px;
    margin: 0;
    border: none;
    height: 25px;
    margin-bottom: 3%;
    background-color: #eee;
    font-family: 'Lato';
    font-size: 13px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

#anliegen {
    width: 99%;
    height: 120px;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: #eee;
    resize: none;
    font-family: 'Lato';
    font-size: 13px;
}

#submit {
    width: 99%;
    margin: 0;
    padding: 0;
    background-color: #eee;
    margin-top: 3%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    height: 30px;
}

.formtext {
    display: block;
    font-size: 16px;
    color: #222;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-bottom: 0.8%;
}

.img_zeile {
    width: 40%;
    margin: auto;
    height: auto;
    padding-bottom: 10%;
}

@media (max-width: 980px) {
    .img_zeile {
        width: 60%;
    }
}

@media (max-width: 640px) {
    .img_zeile {
        width: 80%;
    }
}

.img_zeile img {
    margin-left: 7.9%;
    margin-right: 7.9%;
    width: 17%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}

@media (max-width: 640px) {
    .img_zeile img {
        margin-left: 7.4%;
        margin-right: 7.4%;
        width: 18%;
    }
}

@media (max-width: 980px) {
    .img_zeile img {
        margin-left: 7.4%;
        margin-right: 7.4%;
        width: 18%;
    }
}

.img_zeile img:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}

.subheading-kontakt {
    text-transform: uppercase;
    color: #222;
    font-size: 16px;
}

.clearing {
    clear: both;
    line-height: 0.1px;
    font-size: 0.1px;
}

span.kontakt-label {
    color: #9f9f9f;
}

.col-2k {
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 640px) {
    .col-2k {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 980px) {
    .col-2k {
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

.hyphenate {
    text-align: justify;
}

.bg-slideshow,
.bg-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.bg-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: -1;
    -webkit-animation: imageAnimation 36s linear 1 0s;
    -moz-animation: imageAnimation 36s linear 1 0s;
    -o-animation: imageAnimation 36s linear 1 0s;
    -ms-animation: imageAnimation 36s linear 1 0s;
    animation: imageAnimation 36s linear 1 0s;
}

.bg-slideshow .image01 {
    background-image: url(../images/home.webp);
}

.no-cssanimations .bg-slideshow {
    background-image: url(../images/home.webp);
}

.no-cssanimations .bg-slideshow li span {
    display: none;
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 1;
    }
}

.angebot-icon {
    margin-top: 10px;
    width: 50%;
    padding-bottom: 80px;
}

@media (max-width: 640px) {
    .icons {
        display: none;
    }
}

.gabel-icon {
    width: 8%;
}

@media (max-width: 640px) {
    .gabel-icon {
        width: 20%;
    }
}

.box {
    width: 400px;
    margin-left: -200px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 300px;
    z-index: 99999;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}

a[href^=tel] {
    color: inherit;
    text-decoration: underline;
}
